*{
	font-family: 'Poppins', sans-serif;
}

/*body{
	background-image: url(../images/bg1.jpg);
	background-size: cover;
}*/

/*header*/

.head-logo{
	width:150px;
	height: 45px;

}

.nav-container{
	background-color: white;
	display: block;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}
.nav-item{
	color: gray;
	font-weight: bold;
}

/*landing page*/

.media{
	margin-top: 80px;
}

.media-body h2,p{
	color: black;
}

.media-body h2{
	font-size: 4em;
	font-weight: bold;
}

.media-body p{
	font-size: 2em;
}

#btn{
	border-style: 3px solid;
	font-weight: bold;
}

#home{
	height: 100vh;
	background-image: url(../images/bg2.jpg);
	background-size: cover;
}

#profile{
	width: 200px;
	height: 200px;
}

#about{
	height: 100vh;
	background-image: url(../images/bg-img.jpg);
	background-size: cover;
}

#about h2{
	font-size:4em;
	font-weight: bold;
	margin-bottom: 40px;
}




/*/*tablet*/
/*@media only screen and (min-width: 421px) and 
(max-width: 960px)
{
	.banner{
	position: relative;	
	bottom:200px;
	color: white;
	text-align: right;	
	}
}*/

/*mobile*/
/*@media only screen and (max-width: 420px)
{
	.banner{
	position: relative;
	top: 10px;
	color: white;
	text-align: center;
	padding: 20px;
	}
}*/
