*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
	position: relative;
	background-color: black;
}


/*header*/

.head-logo{
	width:150px;
	height: 45px;

}

.nav-container{
	background-color: white;
	display: block;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}
.nav-item{
	color: gray;
	font-weight: bold;
}

/*landing page*/

.media{
	margin-top: 80px;
}

.media-body h2,p{
	color: black;
}

.media-body h2{
	font-size: 4em;
	font-weight: bold;
}

.media-body p{
	font-size: 2em;
}

#btn{
	border-style: 3px solid;
	font-weight: bold;
}

#home{
	height: 100vh;
	background-image: url(../images/bg2.jpg);
	background-size: cover;
}

#profile{
	width: 200px;
	height: 200px;
}

#about{
	height: 100vh;
	background-image: url(../images/bg-img.jpg);
	background-size: cover;
}

#about-tags{
	font-size: 4em;
	font-weight: bold;
}

#projects{
	height: 100vh;
	background-image: url(../images/office.jpg);
	background-size: cover;
}

#projects-tags{
	font-size: 4em;
	font-weight: bold;
}

.card{
	background-color: rgba(0,0,0,0.6);
	border:1px solid white;
}

.card-title{
	font-size: 2em;
}

#contact{
	height: 100vh;
	background-color: black;
}
#contact-photo{
	height: 180px;
	width: 190px;
}

#contact-tags{
	font-size: 4em;
	font-weight: bold;
}

#contact-body h4{
	font-size: 3em;
}	

#contact-body p{
	font-size: 1em;
	color: white;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	text-decoration: none;
	color: white;
}

.fa-facebook-square:hover{
	color: blue;
}

.fa-github-square:hover{
	color: gray;
}

.fa-gitlab:hover{
	color: orange;
}

i{
	text-decoration: none;
	color: white;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 950px) 
{
	.media-body h2{
	font-size: 2em;
	font-weight: bold;
	}

	.media-body p{
	font-size: 1em;
	}	
	
	#about-tags{
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
	}

	#about-head{
		font-size: 1em;
	}

	#about-list{
		font-size:0.7em;
	}

	#projects-tags{
	font-size: 2em;
	font-weight: bold;
	}

	.card-title{
		font-size: 1em;
	}

	.card-text{
		font-size: 0.5em;
	}

	.btn{
		font-size:0.8em;
	}


	#contact-photo{
	height: 80px;
	width: 90px;
	margin-top: 1px;
	}

	#contact-body h4{
	font-size: 2em;
	}	

	#contact-body p{
	font-size: 0.7em;
	color: white;
	}

}

/*tablet*/

@media only screen 
and (min-width: 481px) 
and (max-width: 960px)
{
	.media-body h2{
	font-size: 2.5em;
	font-weight: bold;
	}

	.media-body p{
	font-size: 1.5em;
	}

	#about-tags{
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
	padding-top: 20px;
	}

	#about-head{
		font-size: 1em;
	}

	#about-list{
		font-size:0.6em;
	}

	#contact-photo{
	height: 180px;
	width: 190px;
	}

	#contact-body h4{
	font-size: 2em;
	}	

	#contact-body p{
	font-size: 1em;
	color: white;
	}




}


