*{
	font-family: 'Poppins', sans-serif;
}

body{
	background-image: url(../images/bg-img3.jpg);
	background-size: cover;
}

/*header*/

.head-logo{
	width:150px;
	height: 45px;

}

.nav-container{
	background-color: white;
	display: block;
	position: fixed;
	width: 100%;
	top: 0;
}
.nav-link{
	color: gray;
	font-weight: bold;
}

/*landing page*/
#home{
	height: 100vh;
}

.banner{
	position: relative;	
	bottom:400px;
	color: white;
	text-align: right;	
}

/*1024 screen up*/
@media only screen and (min-width: 1024px){

	.vid-container{
		margin-top: 320px
	}

	h1{
		font-size: 6em;
	}
}



/*tablet*/
@media only screen and (min-width: 421px) and 
(max-width: 960px)
{
	.banner{
	position: relative;	
	bottom:200px;
	color: white;
	text-align: right;	
	}

	h1{
		font-size: 4em;
	}

	.vid-container{
		margin-top: 320px
	}
}

/*mobile*/
@media only screen and (max-width: 420px)
{
	.banner{
	position: relative;
	top: 10px;
	color: white;
	text-align: center;
	padding: 20px;
	}
}
